

<div>
	<input type="text" placeholder="search engine" type="search"
		ng-model="test">

	<table class="table table-striped table-bordered">
		<caption>Customer Management</caption>
		<thead>
			<tr>
				<th></th>
				<th>company name</th>
				<th>company number</th>
				<th>contact name</th>
				<th>email</th>
				<th>phone</th>
				<th>edit</th>
			</tr>
		</thead>
		<tr id="tr-{{x.id}}"
			data-ng-repeat="x in CustomerManagement |filter:test">
			<td>{{ $index + 1 }}</td>
			<td>{{x.companyname}}</td>
			<td>{{x.companynumber}}</td>
			<td>{{x.contactname}}</td>
			<td>{{x.email}}</td>
			<td>{{x.phone}}</td>


			<td><span data-ng-click="deleteCustomer(x.id)"
				class="glyphicon glyphicon-remove" style="color: red"></span> <span
				data-ng-click="updateCustomer(x.id)" data-toggle="modal" data-target="#myModal"
				class="glyphicon glyphicon-edit" style="color: blue"></span></td>

		</tr>

	</table>
</div>

<div class="container">

	<!-- Trigger the modal with a button -->
	<button type="button" class="btn btn-success btn-sm"
		data-toggle="modal" data-target="#myModal">Form</button>

	<!-- Modal -->
	<div class="modal fade" id="myModal" role="dialog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Add New Customer</h4>
				</div>
				<div class="modal-body">
					<form class="myform">


						companyname <br> <input type="text"
							data-ng-model="companyname" required="true"><br>
						companynumber <br> <input type="text"
							data-ng-model="companynumber" required="true"><br>
						Contact Name <br> <input type="text"
							data-ng-model="contactname" required="true"><br>
						Email <br> <input type="email" data-ng-model="email"
							required="true"><br> Phone <br> <input
							type="text" data-ng-model="phone" required="true"><br>
						username <br> <input type="text" data-ng-model="username"
							required="true"><br> password <br> <input
							type="text" data-ng-model="password" required="true"><br>
						<button class="btn btn-secondary" data-ng-click="addCustomer()">add</button>
						<button class="btn btn-secondary"
							data-ng-click="saveNewCustomer(x.id)">Save Edit</button>

						<input class="btn btn-secondary" type="reset" value="Reset">
					</form>


				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</div>


 