 	<div class="manager">
 	 
 	 Year and month<input type="date" data-ng-model="yearandmonth" data-format="MM-yyyy" id="yearandmonth" reguired="true" >
 	employee<select data-ng-model="employee">
 	<option value="{{employee.id}}" data-ng-repeat="employee in EmployeeManagement">{{ employee.firstname+" "+employee.lastname}}</option>
 	</select>
 	
 	project<select data-ng-model="customer">
 	<option value="{{x.id}}" data-ng-repeat="x in CustomerManagement">{{x.companyname}}</option>
 	</select>
 	
 	project<select data-ng-model="project">
 	<option value="{{x.id}}" data-ng-repeat="x in Project">{{ x.projectname}}</option>
 	</select>
 	<button data-ng-click="submit()">search  </button>
 	 </div>
 	<table class="table table-striped table-bordered">

		<thead>
			<tr>
              <td>first name</td>
				<td>project name</td>
				<td>date</td>
				<td>start date</td>
				<td>end date</td>
				<td>description</td>
			</tr>
		</thead>
		<tr  id="tr -{{x.id}} " data-ng-repeat="x in HourReports" >
                 <td>{{x.employee.firstname}}</td>
				<td>{{x.project.projectname}}</td>
				<td>{{x.date}}</td>
				<td>{{x.starttime}}</td>
				<td>{{x.endtime}}</td>
				<td>{{x.description}}</td>
				 
			</tr>
		 
	</table>
	
	
	<div class="container">
  
  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#myModal">Open Form</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">add/edit project</h4>
        </div>
        <div class="modal-body">
         <div > 
	<form>
	
<select data-ng-model="employee"> 
<option value={{employee.id}} data-ng-repeat="employee in EmployeeManagement">{{employee.firstname}}</option>
</select>

<select data-ng-model="project">
<option data-ng-repeat="x in Project" value={{x.id}}>{{x.projectname}}</option>
</select>
Date <br> <input type="date" id="datepickerForManager" data-ng-model="date"><br>
starttime <br><input type="text"  data-ng-model="starttime"><br>
endtime <br><input type="text"  data-ng-model="endtime"><br>
description <br>
<input type="text" name="description" data-ng-model="description"><br>
	</form>
	
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
 
</div>

 