 Year and month
<input type="date" data-ng-model="yearandmonth" data-format="MM-yyyy"  id="yearandmonth" reguired="true">
Project
<select data-ng-model="project">
	<option value="{{x.id}}" data-ng-repeat="x in Project">{{x.projectname}}</option>
</select>
<button class=" btn btn-success" data-ng-click="submitEmployeeSearch()">search
</button>




<table class="table table-striped table-bordered">
	<thead>
		<tr>

			<th>project name</th>
			<th> date</th>
			<th>start time </th>
			<th>end time</th>
			<th>description</th>

		</tr>
	</thead>
	<tr data-ng-repeat="x in MyReport">

		<td>{{x.project.projectname}}</td>
		<td>{{x.date}}</td>
		<td>{{x.starttime}}</td>
		<td>{{x.endtime}}</td>
		<td>{{x.description}}</td>

	</tr>



</table>
