<div class="customer">
 	 
 	 Year and month<input type="date" data-ng-model="yearandmonth" data-format="MM-yyyy" id="yearandmonth" reguired="true" >
 	
 	project<select data-ng-model="project">
 	<option value="{{x.id}}" data-ng-repeat="x in Project">{{x.projectname}}</option>
 	</select>
 	<button data-ng-click="submitcustomersearch()">search </button>
 	 </div>
 
	<table class="table table-striped table-bordered">

		<thead>
			<tr>
			 <td></td>
                <td>first name</td>
				<td>project name</td>
				 <td> date</td>
				<td>start time </td>
				<td>end time </td>
				<td>description</td>
				 
			</tr>
		</thead>
		<tr data-ng-repeat="x in ProjectHourReport" >
		 <td>{{ $index + 1 }}</td>
                 <td>{{x.employee.firstname}}</td>
				<td>{{x.project.projectname}}</td>
				<td>{{x.date}}</td>
				<td>{{x.starttime}}</td>
				<td>{{x.endtime}}</td>
				<td>{{x.description}}</td>
			</tr>
		 
	</table>
	
