
<style type="text/css">
input:required:invalid, input:focus:invalid {
	
}

input:required:valid {
	background-position: right top;
}
</style>

<input align="left" type="text" placeholder="search engine"
	type="search" data-ng-model="test">
<div>

	<table class="table">
		<thead>

			<tr>
				<th></th>
				<th>project name</th>
				<th>customer</th>
				<th>project manager</th>
				<th>manager email</th>
				<th>manager phone</th>
				<th>start date</th>
				<th>end date</th>
				<th>edit/delete</th>



			</tr>
		</thead>
		<tr id="tr-{{x.id}}" data-ng-repeat="x in Project |filter:test ">
			<td>{{ $index + 1 }}</td>
			<td>{{x.projectname}}</td>
			<td>{{x.customer.companyname}}</td>
			<td>{{x.customerprojectmanager}}</td>
			<td>{{x.projectmanageremail}}</td>
			<td>{{x.projectmanagerphone}}</td>
			<td>{{x.startdate}}</td>
			<td>{{x.enddate}}</td>
			<td>
				<button data-ng-click="updateProject(x.id)" data-toggle="modal" data-target="#myModal"
					class="glyphicon glyphicon-edit" style="color: blue"></button>
				<button class="glyphicon glyphicon-remove" style="color: red"
					data-ng-click="removeProject(x.id)"></button>
			</td>



		</tr>
	</table>

</div>



<div class="container">

	<!-- Trigger the modal with a button -->
	<button type="button" class="btn btn-success btn-md"
		data-toggle="modal" data-target="#myModal">Open Form</button>

	<!-- Modal -->
	<div class="modal fade" id="myModal" role="dialog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">add/edit project</h4>
				</div>
				<div class="modal-body">
					<div>

						<form>
							projectname:<br> <input type="text"
								data-ng-model="projectname"><br> add Customer:<br>
							<select data-ng-model="customer">
								<option value="">Select Customer</option>
								<option data-ng-repeat="x in CustomerManagement"
									value="{{x.id}}">{{x.companyname}}</option>
							</select> <br>
							 customerprojectmanager <br> <input type="text" data-ng-model="customerprojectmanager"><br>
							projectmanageremail <br> <input type="text" data-ng-model="projectmanageremail"><br>
							projectmanagerphone <br> <input type="text" data-ng-model="projectmanagerphone"><br>
							 startdate <br> <input type="date" id="datepicker2" data-ng-model="startdate"><br> 
							 enddate <br> <input type="date" id="datepicker1" data-ng-model="enddate"><br>

							<button class="btn btn-secondary"
								data-ng-click="saveEditedProject()">saveEditedProject</button>
							<button class="btn btn-secondary" data-ng-click="addProject()">add</button>
							<input class="btn btn-secondary" type="reset">Rest
						</form>


						<br> Attach Employee: <select data-ng-model="employee">
							<option value="">Select employee</option>
							<option data-ng-repeat="x in EmployeeManagement" value="{{x.id}}">
								{{x.firstname}}</option>
						</select>
						<button class="btn btn-secondary"
							data-ng-click="attachProjectToEmployee()">Attach</button>


						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>



